PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/poru-memory?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_super_long_secret_key_change_this_in_production

# Cloudinary (Image upload ku)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret